---
// web/src/layouts/Base.astro

import BaseHead from "@/components/BaseHead.astro"
import { siteConfig } from "@/site-config"

import type { SiteMeta } from "@/types"

interface Props {
	meta: SiteMeta
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props

const year = new Date().getFullYear()
const url = new URL(Astro.request.url)
---

<html color-mode="user" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body>
		<header id="main-header">
          <div>
            <a aria-current={url.pathname === "/" ? "page" : false} href="/">Autoshow.sh</a>
          </div>
       </header>
		<main id="main">
			<slot />
		</main>
		<footer>
			<div>
				&copy; {siteConfig.author} {year}<br><span>Astro Autoshow</span>
			</div>
		</footer>
	</body>
</html>